{% extends "layout.html" %} {% block content %}

<script type="text/javascript">
    $(document).ready(function() {
        $('#add_symbol').click(function() {
            $('.ui.modal').modal('show');
        });

        $("#save").click(function() {

            var textareaContent = $("#symbols").val();
            var symbols = textareaContent.split("\n");

            for (var i = 0; i < symbols.length; ++i) {

                console.log(symbols[i]);
                $.ajax({
                    url: '/stock',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        "symbol": symbols[i]
                    }),
                    dataType: 'json'
                });

            };
            $('.ui.modal').modal('hide');
        });
    });
</script>


<div class="ui input focus">
    <input type="text" placeholder="P/E Ratio">
</div>

<div class="ui input focus">
    <input type="text" placeholder="Div Yield">
</div>

<div class="ui checkbox">
    <input type="checkbox" name="example">
    <label>Above 50 Day MA</label>
</div>
<div class="ui checkbox">
    <input type="checkbox" name="example">
    <label>Above 200 Day MA</label>
</div>

<button class="ui button primary">
    Filter
</button>

<button id="add_symbol" class="ui button secondary">Add Symbols</button>

<table class="ui celled table">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>P/E Ratio</th>
            <th>Dividend Yield</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="Name">James</td>
            <td data-label="Age">24</td>
            <td data-label="Job">Engineer</td>
        </tr>
        <tr>
            <td data-label="Name">Jill</td>
            <td data-label="Age">26</td>
            <td data-label="Job">Engineer</td>
        </tr>
        <tr>
            <td data-label="Name">Elyse</td>
            <td data-label="Age">24</td>
            <td data-label="Job">Designer</td>
        </tr>
    </tbody>
</table>

<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        Add Stocks
    </div>
    <div class="content">
        <div class="ui form">
            <div class="field">
                <label>Symbols</label>
                <textarea id="symbols"></textarea>
            </div>
        </div>
    </div>
    <div class="actions">
        <div id="save" class="ui positive right labeled icon button">
            Add Symbols
            <i class="plus icon"></i>
        </div>
    </div>
</div>

{% endblock %}